<!-- category-sub.html -->
<th:block th:fragment="single(categories)">
  <th:block th:each="categoryItem : ${categories}">
    <li>
      <a
        th:href="@{${categoryItem.status.permalink}}"
        class="inline-flex cursor-pointer items-center gap-1 rounded py-1 font-medium text-zinc-500 transition-all hover:bg-zinc-100 hover:text-zinc-900 hover:shadow-sm dark:text-zinc-200 dark:hover:bg-zinc-700 dark:hover:text-zinc-50"
        th:classappend="${category} and ${category.metadata.name == categoryItem.metadata.name} ? '!text-zinc-900 !bg-zinc-100 dark:!bg-zinc-700 dark:!text-zinc-50'"
      >
        <span
          th:text="${categoryItem.spec.displayName}"
          th:style="'color:'+${#annotations.getOrDefault(categoryItem, 'color', '#0c7be0')}"
        ></span>
      </a>
    </li>

    <th:block th:if="${not #lists.isEmpty(categoryItem.children)}">
      <th:block th:replace="~{this :: single(categories=${categoryItem.children})}"></th:block>
    </th:block>
  </th:block>
</th:block>
